<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3">
    <% @maps.each do |map| %>
      <div class="card p-3 m-1">
        <div class="col-12 d-flex justify-content-center">
          <div class="col-8">
            <p align="center"><img src="<%=map.content%>" class="card-img-top" style="width:30%" alt="..."></p>
            <div class="card-body text-center">
              <b><%= link_to map.title, map_path(map.id), class:"text-dark" %></b>
            </div>
          </div>
          <div class="col-4 d-flex align-items-center">
            <p>Description carte à venir</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
